<!DOCTYPE html>
<html>
    <head>
        <style>
        h1 {
            color: red;
        }

        .blue {
            background-color: blue;
        }
        .red {
            background-color: red;
        }
        </style> 
    </head>
    <body>
        <h1>tic tac to</h1>

        <div>
            <div>User {{game_board.game.player_red.name}} (red) vs {{game_board.game.player_blue.name}} (blue)</div>
            <div>
                you are:
                    <select name="current_user" id="user_selection">
                      <option value={{game_board.game.player_red.user_id}}>{{game_board.game.player_red.name}}</option>
                      <option value={{game_board.game.player_blue.user_id}}>{{game_board.game.player_blue.name}}</option>
                    </select>
            </div>
            <div ></div>
        </div>
        <table id='board'>
            {% for row in game_board.board %}
            <tr>
                {% set row_id = loop.index0 %}
                {% for cell in row %}
                    {% set cell_id = row_id*3+loop.index %}
                    <td id={{cell_id}} class={{cell}}>{{cell_id}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script>
            user_selection = document.getElementById("user_selection")
            var current_user_id = user_selection.options[user_selection.selectedIndex].value;
            
            function play(cellId, playerId) {
                fetch('http://127.0.0.1:8080/play/1/', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          playerId: playerId,
                          boardId: cellId
                      })
                  })
            }

            function bindBoardEvents(socket) {
                var board = document.getElementById('board')
                var cells = board.getElementsByTagName('td')
                var userSelection =document.getElementById('user_selection')

                for (var i = 0; i < cells.length; i++){
                    cells[i].onclick = function() {
                        socket.emit('played', 1, parseInt(this.id), parseInt(current_user_id))
                        play(this.id, current_user_id)
                    }
                }
            }

            document.addEventListener('DOMContentLoaded', (event) => {

                var socket = io.connect('http://' + document.domain + ':' + location.port);
                bindBoardEvents(socket)

                socket.on('boardupdate', function(boardId, colorName){
                    if (document.getElementById(boardId).className === '') {
                        document.getElementById(boardId).className = colorName

                    }
                    else {
                        document.getElementById(boardId).className = ''
                    }
                })

                user_option = document.getElementById("user_selection").addEventListener('change', function (){
                    current_user_id = this.options[this.selectedIndex].value;
                })
            });
        </script>
    </body>
</html>